(function(){
    let table = $('#customer');
    table.show();
    table.DataTable({
        buttons: dataTableButtons,
        columns: {{ tableColumnNames | raw }},
        ajax: '{{ params.link | raw }}',
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();
            api.columns([7,8]).every(function (index) {
                var footer = [
                    {
                        id: 'customerTotal',
                        title: '{{ Yii.t('app', 'Total')}}'
                    },
                    {
                        id: 'customerCommission',
                        title: '{{ Yii.t('app', 'Commission')}}'
                    }
                ]
                var column = this;
                var sum = column
                    .data()
                    .reduce(function(a, b) {
                        var x = parseFloat(a) || 0;
                        var y = parseFloat(b) || 0;
                        return (x + y).toFixed(2);
                    }, 0);
                var currentIndex = index - 7;
                var currentId = '#' + footer[currentIndex].id;
                $(currentId).html('<span>'+ footer[currentIndex].title +': ' + sum + '</span>');
            });
        }
    });
    $('#customer_filter_submit_button').on('click', financeReportListApplyFilter);

    function financeReportListApplyFilter() {
        const period = $('#customer_filter_period').val();
        const customer = $('#customer-filter-customer').val();
        if (!customer) {
            show_error('{{ Yii.t('app', 'Customer is required!') }}', 3);
            return;
        }
        const stateUrl = '/{{ params.entity }}s/customer-report?period=' + period + '&customer=' + customer;
        const url = stateUrl + '&list=yes';
        table.DataTable().ajax.url(url).load(function (json) {
            history.pushState('', '', stateUrl)
            if (json.message) {
                show_warning(json.message, 5);
            }
        });
    }
}());
