<div style="padding: 8px">
    <div class="ui-tabs ui-widget">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix" id="reports_tabs" role="tablist">
            <li class="ui-tabs-tab ui-tab">
                <a href="{{ Url.toRoute(['index']) }}" class="ui-tabs-anchor">{{ Yii.t('app', 'Agents consolidated report') }}</a>
            </li>
            <li class="ui-tabs-tab ui-tab">
                <a href="{{ Url.toRoute(['vendor-report']) }}" class="ui-tabs-anchor">{{ Yii.t('app', 'Agent report') }}</a>
            </li>
            <li class="ui-tabs-tab ui-tab ui-state-hover ui-tabs-active ui-state-active">
                <a href="#customer_report_tab" data-toggle="tab" class="ui-tabs-anchor">{{ Yii.t('app', 'Customer report') }}</a>
            </li>
        </ul>

        <div class="ui-tabs-panel">
            <div class="main-tab-holder" id="customer_report_tab">
                {{ include('widgets/alert.twig') }}
                <div class="splynx-top-nav">
                    <div class="filters-nav">
                        <div class="filter-inputs">
                            <div class="filter-input">
                                <label>{{ Yii.t('app', 'Period:') }}</label>
                                {{ DateRangePicker.widget( {
                                    name: 'customer_filter_period',
                                    id: 'customer_filter_period',
                                    attribute: 'customer_filter_period',
                                    pluginOptions: {
                                        locale: {
                                            format: DateHelper.getJsSplynxDateFormat(),
                                        },
                                        startDate: params.startDate,
                                        endDate: params.endDate,
                                        alwaysShowCalendars: true
                                    }
                                }) | raw }}
                            </div>
                            <div class="filter-input">
                                <label for="customer-filter-customer">{{ Yii.t('app', 'Customer:') }}</label>
                                {{ Select2.widget(select2Params) | raw }}
                            </div>
                            <div class="filter-button">
                                <button id="customer_filter_submit_button" class="btn btn-outline-dark">{{ Yii.t('app', "Show") }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-container">
                    <table id="customer" class="table table-striped">
                        <tfoot>
                        <tr class="total-tr">
                            <td>
                                <div>
                                    <span class="total-column total-column-first">{{ Yii.t('app', 'Totals:') }}</span>
                                    <br>
                                    <span class="total-column" id="customerTotal"></span>
                                    <br>
                                    <span class="total-column" id="customerCommission"></span>
                                </div>
                            </td>
                            {# We can't use colspan="value" because it is repeated during export,
                            so we use a for loop which makes exactly as many <td> as we have columns
                            https://bitbucket.org/splynx/splynx-agents/pull-requests/26 #}
                            {% for i in 1..8 %}
                                <td></td>
                            {% endfor %}
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% block scripts %}
    <script>
        {% include 'customer.js.twig' %}
    </script>
{% endblock %}
