(function(){
    let table = $('#vendor');
    table.show();
    table.DataTable({
        buttons: dataTableButtons,
        columns: {{ tableColumnNames | raw }},
        ajax: '{{ params.link | raw }}',
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();
            var footer = [
                {
                    id: 'vendorCommissionedTransactions',
                    title: '{{ Yii.t('app', 'Commissioned transactions') }}'
                },
                {
                    id: 'vendorUnpaidInvoice',
                    title: '{{ Yii.t('app', 'Unpaid invoices IDs')}}'
                },
                {
                    id: 'vendorUnpaidTotal',
                    title: '{{ Yii.t('app', 'Unpaid total')}}'
                },
                {
                    id: 'vendorTotal',
                    title: '{{ Yii.t('app', 'Total')}}'
                },
                {
                    id: 'vendorCommission',
                    title: '{{ Yii.t('app', 'Commission')}}'
                }
            ]
            api.columns([1, 2, 3, 4, 5]).every(function (index) {
                var column = this;
                var sum = column
                    .data()
                    .reduce(function(a, b) {
                        var y = parseFloat(b) || 0;
                        if (index === 2) {
                            if (y === 0) {
                                return a;
                            }
                            return a + ',' + b;
                        }
                        var x = parseFloat(a) || 0;
                        if (index === 1) {
                            return (x + y).toFixed(0);
                        }
                        return (x + y).toFixed(2);
                    }, 0);

                if (index === 2 && sum !== 0) {
                    sum = sum.replace(/^0,\s*/, '');
                }

                var currentIndex = index - 1;
                var currentId = '#' + footer[currentIndex].id;
                $(currentId).html('<span>'+ footer[currentIndex].title +': ' + sum + '</span>');
            });
        }
    });
    $('#vendor_filter_submit_button').on('click', financeReportListApplyFilter);

    function financeReportListApplyFilter() {
        const period = $('#vendor_filter_period').val();
        const vendor = $('#vendor-filter-vendor').val();
        if (!vendor) {
            show_error('{{ Yii.t('app', 'Agent is required!') }}', 3);
            return;
        }
        const stateUrl = '/{{ params.entity }}s/vendor-report?period=' + period + '&vendor=' + vendor;
        const url = stateUrl + '&list=yes';
        table.DataTable().ajax.url(url).load(function (json) {
            history.pushState('', '', stateUrl)
            if (json.message) {
                show_warning(json.message, 5);
            }
        });
    }
}());