(function(){
    let table = $('#vendors');
    table.show();
    table.DataTable({
        buttons: dataTableButtons,
        columns: {{ tableColumnNames | raw }},
        ajax: '{{ params.link | raw }}',
        "footerCallback": function (row, data, start, end, display) {
            var api = this.api();
            var footer = [
                {
                    id: 'vendorsCommissionedCustomers',
                    title: '{{ Yii.t('app', 'Commissioned transactions') }}'
                },
                {
                    id: 'vendorsUnpaidTotal',
                    title: '{{ Yii.t('app', 'Unpaid total')}}'
                },
                {
                    id: 'vendorsTotal',
                    title: '{{ Yii.t('app', 'Total')}}'
                },
                {
                    id: 'vendorsCommission',
                    title: '{{ Yii.t('app', 'Commission')}}'
                }
            ]
            api.columns([1, 2, 3, 4]).every(function (index) {
                var column = this;
                var sum = column
                    .data()
                    .reduce(function(a, b) {
                        var x = parseFloat(a) || 0;
                        var y = parseFloat(b) || 0;
                        if (index === 1) {
                            return (x + y).toFixed(0);
                        }
                        return (x + y).toFixed(2);
                    }, 0);

                var currentIndex = index - 1;
                var currentId = '#' + footer[currentIndex].id;
                $(currentId).html('<span>'+ footer[currentIndex].title +': ' + sum + '</span>');
            });
        }
    });
    $('#vendors_filter_submit_button').on('click', financeReportListApplyFilter);

    function financeReportListApplyFilter() {
        const period = $('#vendors_filter_period').val();
        const stateUrl = '/{{ params.entity }}s/?period=' + period;
        const url = stateUrl + '&list=yes';
        table.DataTable().ajax.url(url).load(function (json) {
            history.pushState('', '', stateUrl)
            if (json.message) {
                show_warning(json.message, 5);
            }
        });
    }
}());